# Build artifacts
build/
bin/
obj/
out/
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# Debug files
*.log
*.tmp

# IDE / Editor settings
.vscode/
.idea/
*.code-workspace

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Windows system files
.DS_Store
Thumbs.db
